.vscode
.idea

.*
!.gitignore
!.gitkeep

tmp
pprof
fgprof

bin
go
local

private_isu/webapp/nodejs/
private_isu/webapp/perl/
private_isu/webapp/php/
private_isu/webapp/python/
private_isu/webapp/ruby/
private_isu/webapp/rust/
private_isu/benchmarker/
!private_isu/webapp/golang/
!private_isu/webapp/sql/

# 環境変数のファイル名に合わせること
env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh
!s4/home/isucon/env.sh
!s5/home/isucon/env.sh

pprotein
pprotein-agent

backup/
