.vscode
.idea

.*
!.gitignore
!.gitkeep

tmp
pprof
fgprof

bin
go
local

webapp/nodejs/
webapp/perl/
webapp/php/
webapp/python/
webapp/ruby/
webapp/rust/
!webapp/go/
!webapp/sql/

# 環境変数のファイル名に合わせること
env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh
!s4/home/isucon/env.sh
!s5/home/isucon/env.sh

pprotein
pprotein-agent